---

import SectionWrapper from "../SectionWrapper.astro";

const {title, subtitle, examples} = Astro.props;
---

<SectionWrapper>
    <div class="container mx-auto mb bg-background px-6 lg:px-8">
        <div class="mx-auto max-w-5xl text-center">
            {title && <h2 class="mt-2 text-4xl font-bold tracking-tight sm:text-6xl">{title}</h2>}
            {subtitle && <p class="mt-6 text-lg leading-8 text-muted">{subtitle}</p>}
        </div>
    </div>
</SectionWrapper>