---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import {buildImageUrl} from '../lib/directus';
import Carousel from '../components/Carousel.astro';

const [home] = await getCollection('home');
const customers = await getCollection('customer');
const references = await getCollection('reference');
---

<Layout>

	<Carousel />

	<ul>
		{customers.map(c => (
			<li><Image src={buildImageUrl(c.data.logo)} alt={c.data.name} width={200} height={100}
					    /> {c.data.name}</li>
		))}
	</ul>
	<h2>home</h2>
	<pre>
		{JSON.stringify(home, null, 2)}
	</pre>
	<h2>reference</h2>
	<pre>
		{JSON.stringify(references, null, 2)}
	</pre>
	<pre>
		{JSON.stringify(customers, null, 2)}
	</pre>

</Layout>
