---
import { getCollection } from "astro:content";
import { marked } from "marked";
import SectionWrapper from "./SectionWrapper.astro";

const {bgSecondary} = Astro.props;
const [benefit] = await getCollection('benefit');

const content = benefit.data.cta_message ? marked.parse(benefit.data.cta_message) : undefined;

---

<SectionWrapper bgSecondary={bgSecondary} >

        <div class="md:flex-row items-center">
            <div class="w-full" style="opacity: 1; transform: none;">
                <h3 class="mb-4 text-2xl font-bold">{benefit.data.cta_title}</h3>
                <div class="prose w-full text-lg dark:prose-invert">
                    <article set:html={content}/>
                </div>
            </div>
        </div>

</SectionWrapper>
