---
import { SEO } from "astro-seo"
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
import './style.css'

interface Props  {
	title: string;
	description: string;
	image: string;
	lang?: string;
}
const { url, site } = Astro;
const { title, description, image, lang } = Astro.props;
---
<!doctype html>
<html lang={lang || 'de'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
			      openGraph={
			        {
			          basic: {
			            title: `${title ?? 'RocketBase'}`,
			            type: "website",
			            image: `${site}og-images/${image ?? 'index.png'}`,
			            url: url,
			          },
			          optional: {
			            description: `${description ?? 'Description...'}`,
			          },
			        }
			      }
			    />
		<script>
			const preline = await import('preline/dist/preline.js')
			preline.HSStaticMethods.autoInit()
		</script>
		<style is:global>
			@font-face {
				font-family: 'Mohr Alt';
				src: url('/fonts/MohrAlt.woff2') format('woff2'),
					url('/fonts/MohrAlt.woff') format('woff');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
		</style>
		<script>
			const html = document.querySelector('html');
			const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
			const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

			if (html && isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
			else if (html && isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
			else if (html && isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
			else if (html && isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
		</script>
	</head>
	<body class="min-h-screen bg-background antialiased">
		<div class="flex h-full min-h-screen flex-col overflow-x-clip">
			<Navbar />
			<slot />
			<Footer />
		</div>
	</body>
</html>