<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<style is:global>
			@font-face {
				font-family: 'Mohr Alt';
				src: url('/fonts/MohrAlt.woff2') format('woff2');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
