---
import Layout from './Layout.astro'

interface Props  {
    frontmatter: {
        title: string;
        description: string;
        image: string;
        lang?: string;
    }
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description} image={frontmatter.image}>
    <div class="container mx-auto mt-4">
        <div class="prose">
            <slot />
        </div>
    </div>
</Layout>