---
import RemoteImage from "@components/RemoteImage.astro";
import type {referencesType} from "../../content/directus";

interface Props  {
    screens?: referencesType["screens"];
}

const {screens} = Astro.props;
---

<div class="container mx-auto px-4">
    <div class="flex flex-col gap-8 section-sm-top lg:flex-row">
        <div class="flex w-full flex-col items-center gap-2">
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full items-center gap-12">

                {screens && screens.map((t) => {
                    return (
                            <div class="relative flex flex-col gap-4 w-full flex-auto justify-center rounded-lg text-center">
                                <RemoteImage class="border shadow rounded-lg" asset={t!} widths={[200, 400, 800]} />
                                <div class="text-base text-muted font-semibold">{t.title}</div>
                            </div>
                    )
                })}

            </div>
        </div>
    </div>
</div>