---
import {Image} from 'astro:assets';
---

<div class="bg-neutral-900 ">
    <div class="h-[50rem]">
        <Image class="h-full w-full object-cover" src={"/images/references.png"} alt={"image"} inferSize width={2560} height={1200} />
    </div>
</div>
