---
import {Picture} from 'astro:assets';
import references from "./../../assets/references.png";
---

<div class="bg-neutral-900 ">
    <div class="lg:h-[50rem]">
        <Picture class="h-full w-full object-cover" src={references} alt={"image"} widths={[1920, 1280, 920, 600]} />
    </div>
</div>
